In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1789,tt0765120,10000000,21786738,My Blueberry Nights,Norah Jones|Jude Law|David Strathairn|Rachel W...,Wong Kar-wai,How do you say goodbye to someone you can't im...,Elizabeth (Jones) has just been through a part...,111,Drama|Romance,Block 2 Pictures|Jet Tone Production|StudioCan...,5/16/2007,6.2,2007
1765,tt0435670,30000000,26810113,The Invisible,Justin Chatwin|Margarita Levieva|Marcia Gay Ha...,David S. Goyer,"Life, death and something in between.",After an attack leaves him in limbo -- invisib...,102,Action|Adventure|Crime|Drama|Fantasy,Spyglass Entertainment|Hollywood Pictures|Birn...,4/27/2007,5.9,2007
1485,tt0443543,40000000,86915017,The Illusionist,Edward Norton|Jessica Biel|Paul Giamatti|Rufus...,Neil Burger,Nothing Is What It Seems.,"With his eye on a lovely aristocrat, a gifted ...",110,Fantasy|Drama|Thriller|Romance,Michael London Productions|Stillking Films|Bob...,8/18/2006,7.0,2006
818,tt0377981,36000000,189712432,Gnomeo & Juliet,James McAvoy|Michael Caine|Maggie Smith|Julie ...,Kelly Asbury,A little adventure goes a lawn way.,"A version of Shakespeare's play, set in the wo...",84,Animation|Family,Starz Animation|Touchstone Pictures,1/13/2011,5.7,2011
1609,tt0327554,100000000,82102379,Catwoman,Halle Berry|Benjamin Bratt|Sharon Stone|Lamber...,Pitof,CATch Her In IMAX,Liquidated after discovering a corporate consp...,104,Action|Crime,Village Roadshow Pictures|DiNovi Pictures|Warn...,7/22/2004,4.3,2004

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [0]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [0]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '...'
# если ответили верно, можете добавить комментарий со значком "+"

In [8]:
# тут пишем ваш код для решения данного вопроса:
#определяем, что за фильм скрывается под условием бюджет = максимальный бюджет
data.loc[data.budget==data.budget.max()].original_title

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [0]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '...'

In [10]:
#определяем, что за фильм скрывается под условием длительность равна максимальной
data.loc[data.runtime==data.runtime.max()].original_title

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [11]:
data.loc[data.runtime==data.runtime.min()].original_title

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [13]:
round(data.runtime.mean())

110

# 5. Каково медианное значение длительности фильмов?

In [14]:
data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [222]:
# лучше код получения столбца profit вынести в Предобработку что в начале

#создаем новую колонку profit (разница между выручкой и бюджетом)
data['profit'] = data.revenue - data.budget

#определяем фильм с условием максимальной величины profit
data.loc[data.profit==data.profit.max()].original_title

239    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?

In [18]:
data.loc[data.profit==data.profit.min()].original_title

1245    The Lone Ranger
Name: original_title, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [20]:
len(data[data.revenue>data.budget])

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [59]:
# blockbuster2008_df = data[data.release_year==2008].sort_values(by='revenue', ascending=False)
# blockbuster2008_df.iloc[0].original_title

#определяем самый кассовый фильм с условием выхода в 2008 году
data[data.release_year==2008].sort_values(by='revenue', ascending=False).iloc[0].original_title

'The Dark Knight'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [72]:
data.original_title[data.profit==data[(data.release_year>=2012) & (data.release_year<=2014)].profit.min()]

1245    The Lone Ranger
Name: original_title, dtype: object

# 11. Какого жанра фильмов больше всего?

In [0]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

ВАРИАНТ 2

In [310]:
(data.genres.str.split('|').explode()).value_counts()

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
Name: genres, dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [381]:
#Сколько в среднем приносит каждый жанр

#пробный вариант, свернул не туда, уточнил в слаке
df = data[['genres', 'profit']]
df.genres = df.genres.str.split('|')
df = df.explode('genres')
df['qty'] = 1
df = df.groupby(['genres']).sum()
df['profit_per_genre'] = df.profit / df.qty
df.profit_per_genre = df.profit_per_genre.apply(lambda x: int(x))
df = df.sort_values(by='profit_per_genre', ascending=False)
df

C:\Users\tmrakhmankulov\Anaconda3\lib\site-packages\pandas\core\generic.py:5168: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

                      profit  qty  profit_per_genre
genres
Fantasy          49716648913  222         223948868
Animation        30680622718  139         220723904
Adventure        86070466981  415         207398715
Family           46714255385  260         179670213
Science Fiction  40771890654  248         164402784
Action           80187900065  582         137779897
Comedy           59774752721  683          87517939
Thriller         46740546578  596          78423735
Romance          23992150965  308          77896594
War               4405027096   58          75948743
Music             4720498315   64          73757786
Mystery          11752971178  168          69958161
Crime            20261017900  315          64320691
Drama            49257224159  782          62988777
Horror           10584197147  176          60137483
Western           1022632954   19          53822787
History           3046143524   62          49131347
Documentary        392078032    8          49009754
Foreign            -13444012    2          -6722006

In [373]:
#Только прибыльные жанры -> profit > 0 -> чаще всего встречающиеся жанры среди прибыльных

import pandas as pd

#загружаем файл в переменную и создаем колонку с условием
data = pd.read_csv('movie_bd_v5.csv')
data['profit'] = data['revenue'] - data['budget']

#создаем датафрейм с уловием и выводим только жанры; разбиваем строку в список и "взрываем" на строки; выводим к-во встречающихся жанров
df = data[data.profit > 0][['genres']]
df.genres = df.genres.str.split('|')
df = df.explode('genres')
df.genres.value_counts()

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
Name: genres, dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [385]:
#создаем датафрейм с режиссерами и выручкой; создаем список из строки режиссеров; взрываем список на строки; группируем по сумме выручки и сортируем по убыванию
df = data[['director', 'revenue']]
df.director = df.director.str.split('|')
df = df.explode('director')
df = df.groupby(['director'])['revenue'].sum().sort_values(ascending=False)
df

director
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Name: revenue, Length: 997, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [211]:
#выводим дф с режиссерами, которые снимали экшн, создаем список из строки режиссеров, взрываем список и считаем к-во повторений
data[data.genres.str.contains('Action')].director.str.split('|').explode().value_counts()

Robert Rodriguez      9
Michael Bay           7
Paul W.S. Anderson    7
Ridley Scott          6
Antoine Fuqua         6
                     ..
Kevin Macdonald       1
Bruce Hunt            1
Patrick Hughes        1
Rod Lurie             1
Asger Leth            1
Name: director, Length: 364, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [414]:
#создаем датафрейм с условиями и взрываем на строки список актеров
df = data[data.release_year==2012][['cast', 'revenue']]
df.cast = df.cast.str.split('|')
df = df.explode('cast')

#группируем актеров по сумме выручки и сортируем по выручке по убыванию; выводим первую строку
df = df.groupby(['cast'])['revenue'].sum().reset_index()
df = df.sort_values(by='revenue', ascending=False)
df.iloc[0]

cast       Chris Hemsworth
revenue         2027450773
Name: 77, dtype: object

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [426]:
#создаем новый дф из колонок, сплитуем актеров, взрываем актеров с остальными колонками в строки
df = data[['cast','original_title','budget']]
df.cast = df.cast.str.split('|')
df = df.explode('cast')

#создаем новый дф с условием бюджет выше среднего и выводим актеров; считаем к-во повторений актеров в дф
df = df[df.budget > df.budget.mean()]['cast']
df.value_counts()

C:\Users\tmrakhmankulov\Anaconda3\lib\site-packages\pandas\core\generic.py:5168: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

Matt Damon          18
Adam Sandler        17
Angelina Jolie      16
Tom Cruise          15
Eddie Murphy        15
                    ..
Nancy Cartwright     1
Katy Perry           1
John Witherspoon     1
Jon Bernthal         1
Archie Panjabi       1
Name: cast, Length: 1505, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [471]:
#создаем дф с жанрыми и актерами; сплитуем жанры и актеров; взрываем актеров и жанры по строкам
df = data[['genres','cast']]
df.genres = df.genres.str.split('|')
df.cast = df.cast.str.split('|')
df = df.explode('genres')
df = df.explode('cast')

#создаем новый дф с актерами и жанрами; определяем к-во жанров фильмов, в которых играл актер в условии
df = df[['cast','genres']]
df.loc[df.cast=='Nicolas Cage']['genres'].value_counts()

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Mystery             3
Animation           3
Family              3
History             2
War                 1
Horror              1
Romance             1
Name: genres, dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [483]:
#создаем новый дф с уловием и выводим название и прибыль; сортируем по прибыли по убыванию
df = data[data.production_companies.str.contains('Paramount Pictures')][['original_title','profit']].sort_values(by='profit',ascending=True)
df

                                         original_title     profit
925                                K-19: The Widowmaker  -64831034
1123                                           Timeline  -60519261
1722                                               Next  -51788987
1623                                              Alfie  -46604061
1631                                            Twisted  -24805000
...                                                 ...        ...
730                Mission: Impossible - Ghost Protocol  549713380
1738                                       Transformers  559709780
603   Indiana Jones and the Kingdom of the Crystal S...  601636033
317                 Transformers: Revenge of the Fallen  686297228
828                      Transformers: Dark of the Moon  928746996

[122 rows x 2 columns]

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [492]:
#создаем дф с группировкой по году выпуска и суммой выручки; сортируем по убыванию выручки; выводим строку с максимальной выручкой
df = data.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False)
df[df == df.max()]

release_year
2015    25449202382
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [534]:
#создаем новый дф с кинокомпаниями, годом выпуска и прибылью
df = data[['production_companies','release_year','profit']]
#сплитуем в список кинокомпании по разделителю
df.production_companies = df.production_companies.str.split('|')
#вызрваем дф по кинокомпаниями по строкам
df = df.explode('production_companies')

#определяем функцию "если строка есть в названии" - присвоить названием переменной и вернуть переменную
def naming(s):
    if 'Warner Bros' in s:
        s = 'Warner Bros'
        return s
    else:
        return s
#применим функцию к колонке кинокимпаний
df.production_companies = df.production_companies.apply(naming)
#создадим дф с условием и колонками дата выхода и прибыль
df = df[df.production_companies.str.contains('Warner Bros')][['release_year','profit']]
#сгруппируем по дате выхода и выведем сумму выручки по группам, отфильтруем по прибыли по убыванию
df = df.groupby(['release_year'])['profit'].sum().sort_values(ascending=False)

df

release_year
2014    2292949646
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1844008221
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1282142579
2012    1258020056
2002    1022709901
2015     870368348
2006     625351872
2000     452631386
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [585]:
#создади дф с датой выхода и id фильма
df = data[['release_date','imdb_id']]
#создаздим колонку месяц, разобьем в ней строку дата выхода на 3 элемента и присвоим первый (месяц)
df['month'] = df['release_date'].str.split('/', n=3, expand=True)[0]
#создадим дф с месяцем и id фильма 
df = df[['month','imdb_id']]
#создадим колонку счетчик = 1
df['counter'] = 1
#сгруппируем дф по месяцу и выведем сумму счетчика повторений месяца в дф, отфильтруем по убыванию к-ва повторений
df.groupby(['month'])['counter'].sum().sort_values(ascending=False)

<ipython-input-585-5be72610d2ca>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['month'] = df['release_date'].str.split('/', n=3, expand=True)[0]

month
9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: counter, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [600]:
#создадим дф с датой выхода и id фильма
df = data[['release_date','imdb_id']]
#создадим колонку месяц и присвоим ей значение месяца из даты выхода
df['month'] = df['release_date'].str.split('/', n=3, expand=True)[0]
#создадим дф с месяцем т id фильма
df = df[['month','imdb_id']]
#создадим колонку счетчика = 1
df['counter'] = 1
#сгруппируем дф по месяцу и сумме вхождений счетчика, отфильтруем по убыванию счетчика
df = df.groupby(['month'])['counter'].sum().sort_values(ascending=False)
#сбросим индекс 
df = df.reset_index()
#выведем дф, где только летние месяцы и просуммируем счетчик
df[df['month'].isin(['6','7','8'])].counter.sum()

<ipython-input-600-69ed4cee070e>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['month'] = df['release_date'].str.split('/', n=3, expand=True)[0]

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [613]:
#создадим дф с датой выхода и режиссером
df = data[['release_date','director']]
#создадим колонку месяц, сплитуем колонку и выводим первый элемент(месяц)
df['month'] = df['release_date'].str.split('/', n=3, expand=True)[0]
#создаем новый дф с месяцем и режиссером
df = df[['month','director']]
#сплитуем колонку режиссер и взырваем на строки
df.director = df.director.str.split('|')
df = df.explode('director')
#создаем колонку счетчик = 1
df['counter'] = 1
#выводи дф, где месяцы тольки зимние и группируем его по режиссеру и сумме счетчика, сортируем по убыванию
df[df.month.isin(['12','1','2'])].groupby(['director'])['counter'].sum().sort_values(ascending=False)

<ipython-input-613-c6d8ea62cfe2>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['month'] = df['release_date'].str.split('/', n=3, expand=True)[0]

director
Peter Jackson            7
Steven Soderbergh        6
Clint Eastwood           6
Martin Scorsese          4
Adam Shankman            4
                        ..
Matt Bettinelli-Olpin    1
Matt Reeves              1
Matthew O'Callaghan      1
Matthew Vaughn           1
Jon Avnet                1
Name: counter, Length: 358, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [184]:
#импортируем пандас и обозначаем переменную, в которую грузим файл
import pandas as pd
data = pd.read_csv('movie_bd_v5.csv')

#создаем новый дф с 2 колонками, сплитуем одну из колонок и взрываем ее на строки в общем дф
df = data[['production_companies','original_title']]
df.production_companies = df.production_companies.str.split('|')
df = df.explode('production_companies')

#создаем функцию, возвращающую длину аргумента
def length(s):
    s = len(s)
    return s

#создаем новую колонку "длина названия" и применяем к ней функцию через лямбда функцию
df['name_length'] = df.original_title.apply(lambda s: length(s))
#группируем дф по кинокомпаниям и выводим сумму всех длин названий фильмов, сортируем по убыванию
df.groupby(['production_companies'])['name_length'].sum().sort_values(ascending=False)

C:\Users\tmrakhmankulov\Anaconda3\lib\site-packages\pandas\core\generic.py:5168: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

production_companies
Warner Bros.                              2616
Universal Pictures                        2546
Paramount Pictures                        2078
Twentieth Century Fox Film Corporation    1799
Columbia Pictures                         1722
                                          ...
Berlanti Productions                         3
Everest Entertainment                        3
Global Entertainment Group                   2
XM2 Productions                              2
Ixtlan Productions                           2
Name: name_length, Length: 1771, dtype: int64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [634]:
#создаем дф с кинокомпаниями и описанием, сплитуем строку кинокомпаний в список, взрываем список кинокомпаний на строки дф
df = data[['production_companies','overview']]
df.production_companies = df.production_companies.str.split('|')
df = df.explode('production_companies')

#создаем функцию с выводом длины аргумента
def length(s):
    s = len(s)
    return s
#создаем колонку счетчика = 1
df['counter'] = 1
#создаем колонку "длина описания" и применяем к ней фунцкию
df['name_length'] = df.overview.apply(lambda s: length(s))
#группируем кинокмпании по сумме длины описания и счетчика, сбрасываем индексацию 
df = df.groupby(['production_companies'])[['name_length','counter']].sum().reset_index()
#создаем колонку в дф с определением средней длины описания
df['avg_name_length'] = df.name_length / df.counter
#сортируем дф по средней длине описания по убыванию
df = df.sort_values(by='avg_name_length', ascending=False)
df

,production_companies,name_length,counter,avg_name_length
1041,Midnight Picture Show,1000,1,1000.0
1355,Room 9 Entertainment,964,1,964.0
231,Brookwell-McNamara Entertainment,936,1,936.0
921,Lions Gate Family Entertainment,909,1,909.0
360,Crest Animation Productions,909,1,909.0
...,...,...,...,...
934,London Boulevard,74,1,74.0
694,Henceforth,74,1,74.0
1234,Phantom Four,72,1,72.0
492,Empire Pictures,62,1,62.0
1079,Motion Picture Corporation of America,59,1,59.0

In [643]:
pd.options.display.max_colwidth = 1000
data[data.production_companies.str.contains('Midnight Picture Show')].overview

711    The photographer Leon lives with his girlfriend and waitress Maya waiting for a chance to get in the photo business. When Maya contacts their friend Jurgis, he schedules a meeting for Leon with the successful owner of arts gallery Susan Hoff; she analyzes Leon's work and asks him to improve the quality of his photos. During the night, the upset Leon decides to wander on the streets taking pictures with his camera, and he follows three punks down to the subway station; when the gang attacks a young woman, Leon defends her and the guys move on. On the next morning, Leon discovers that the woman is missing. He goes to the police station, but Detective Lynn Hadley does not give much attention to him and discredits his statement. Leon becomes obsessed to find what happened with the stranger and he watches the subway station. When he sees the elegant butcher Mahogany in the train, Leon believes he might be a murderer and stalks him everywhere, in the beginning of his journey to the darkn...
Name: overview, dtype: object

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 

по vote_average

In [686]:
#устанавливаем максимально выводимую длину элемента колонки и смотрим сэмпл
pd.options.display.max_colwidth = 50
data.head(1)

#создаем дф из названия фильма и среднего балла, сортируем по ср.баллу по убыванию
df = data[['original_title','vote_average']].sort_values(by='vote_average', ascending=False)
#выводим первый % из дф, то есть 19 элементов 
df.iloc[0:19]

                                     original_title  vote_average
599                                 The Dark Knight           8.1
118                                    Interstellar           8.0
125                              The Imitation Game           8.0
9                                        Inside Out           8.0
34                                             Room           8.0
1183                        The Wolf of Wall Street           7.9
128                                       Gone Girl           7.9
1191                               12 Years a Slave           7.9
119                         Guardians of the Galaxy           7.9
1081  The Lord of the Rings: The Return of the King           7.9
1800                                        Memento           7.9
370                                       Inception           7.9
872                                     The Pianist           7.9
138                        The Grand Budapest Hotel           7.9
1188                                            Her           7.8
28                                        Spotlight           7.8
124                                      Big Hero 6           7.8
177                          The Fault in Our Stars           7.8
863           The Lord of the Rings: The Two Towers           7.8

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

# Submission

In [0]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '...', '2': '...'}

In [131]:
# и убедиться что ни чего не пропустил)

len(answers)

0

In [183]:
#импортируем метод из библиотеки
from itertools import combinations

#создаем дф с актерами
df = data['cast']

#создаем функцию для вывода списка уникальных пар
def pairs(s):
    return list(combinations(s.split('|'), 2))

#копируем дф с колонкой актеров 
df = data[['cast']].copy()

#применяем функцию к колонке актеров
df['cast'] = df.cast.apply(pairs)

#взырваем колонку на строки
df = df.explode('cast')

#создаем новый дф и считаем к-во повторений уникальных пар актеров
df = df.cast.value_counts()

df

(Daniel Radcliffe, Emma Watson)           8
(Daniel Radcliffe, Rupert Grint)          8
(Rupert Grint, Emma Watson)               7
(Ben Stiller, Owen Wilson)                6
(Johnny Depp, Helena Bonham Carter)       6
                                         ..
(Elisha Cuthbert, Pruitt Taylor Vince)    1
(Eric Ladin, Gabriel Bateman)             1
(Steve Zahn, Stuart Stone)                1
(Nicholas Tse, Wu Jing)                   1
(Steve Carell, Julie Andrews)             1
Name: cast, Length: 18121, dtype: int64